USE [master]
GO
/****** Object:  Database [Hywin]    Script Date: 01/12/2015 04:39:44 ******/
CREATE DATABASE [Hywin] ON  PRIMARY 
( NAME = N'Hywin', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\Hywin.mdf' , SIZE = 2304KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Hywin_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\Hywin_log.LDF' , SIZE = 1088KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Hywin].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Hywin]
GO
/****** Object:  Table [dbo].[Company]    Script Date: 01/12/2015 04:39:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BriefName] [nvarchar](max) NULL,
	[FullName] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[WebSite] [nvarchar](max) NULL,
	[DateSince] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
	[logo] [nvarchar](max) NULL,
	[companyType] [int] NULL,
	[country] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Company] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Company] ON
INSERT [dbo].[Company] ([Id], [BriefName], [FullName], [Phone], [Email], [WebSite], [DateSince], [IsActive], [logo], [companyType], [country]) VALUES (1, N'af', N'Available Fabric Ltd', N'1212121', NULL, NULL, NULL, 0, NULL, 0, N'USA')
INSERT [dbo].[Company] ([Id], [BriefName], [FullName], [Phone], [Email], [WebSite], [DateSince], [IsActive], [logo], [companyType], [country]) VALUES (2, N'fgadf', N'hhhsdfhjj;jkjkjk', N'66868686', NULL, NULL, NULL, 0, NULL, 1, N'Canada')
INSERT [dbo].[Company] ([Id], [BriefName], [FullName], [Phone], [Email], [WebSite], [DateSince], [IsActive], [logo], [companyType], [country]) VALUES (3, N'fdd', N'yadjm', N'5323', NULL, NULL, NULL, 0, NULL, 2, N'Canada')
SET IDENTITY_INSERT [dbo].[Company] OFF
/****** Object:  Table [dbo].[Category]    Script Date: 01/12/2015 04:39:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[categoryName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Category] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Address]    Script Date: 01/12/2015 04:39:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Address](
	[Address_Id] [int] NOT NULL,
	[Number] [nvarchar](max) NULL,
	[Street] [nvarchar](max) NULL,
	[City] [nvarchar](max) NULL,
	[State] [nvarchar](max) NULL,
	[Country] [nvarchar](max) NULL,
	[ZipCode] [nvarchar](max) NULL,
	[addressType] [int] NULL,
 CONSTRAINT [PK_dbo.Address] PRIMARY KEY CLUSTERED 
(
	[Address_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Address] ([Address_Id], [Number], [Street], [City], [State], [Country], [ZipCode], [addressType]) VALUES (1, N'43', N'aaafbadf', N'adf', N'adf', N'USA', N'134', NULL)
INSERT [dbo].[Address] ([Address_Id], [Number], [Street], [City], [State], [Country], [ZipCode], [addressType]) VALUES (2, N'44', N'gag', N'adf', N'adf', N'Canada', N'134', NULL)
INSERT [dbo].[Address] ([Address_Id], [Number], [Street], [City], [State], [Country], [ZipCode], [addressType]) VALUES (3, N'45', N'ggg', N'hhh', N'hhh', N'China', N'333', NULL)
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 01/12/2015 04:39:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Office]    Script Date: 01/12/2015 04:39:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Office](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[phoneNumber] [nvarchar](max) NULL,
	[Area] [nvarchar](max) NULL,
	[FKCompanyID] [int] NOT NULL,
	[buildingName] [nvarchar](max) NOT NULL,
	[type] [int] NULL,
 CONSTRAINT [PK_dbo.Office] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Office] ON
INSERT [dbo].[Office] ([Id], [phoneNumber], [Area], [FKCompanyID], [buildingName], [type]) VALUES (1, N'323232', N'333', 3, N'B1', 0)
INSERT [dbo].[Office] ([Id], [phoneNumber], [Area], [FKCompanyID], [buildingName], [type]) VALUES (2, N'52343', N'222', 3, N'W1', 1)
INSERT [dbo].[Office] ([Id], [phoneNumber], [Area], [FKCompanyID], [buildingName], [type]) VALUES (3, N'43234', N'111', 2, N'W2', 1)
SET IDENTITY_INSERT [dbo].[Office] OFF
/****** Object:  Table [dbo].[Person]    Script Date: 01/12/2015 04:39:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Person](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[FKOfficeID] [int] NOT NULL,
	[FirstName] [nvarchar](max) NOT NULL,
	[LastName] [nvarchar](max) NULL,
	[MobilePhone] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[photo] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Person] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Person] ON
INSERT [dbo].[Person] ([Id], [Title], [FKOfficeID], [FirstName], [LastName], [MobilePhone], [Email], [photo]) VALUES (2, N'Buyer', 1, N'Mike', N'Qiang', N'1431413', N'info@xxx.com', NULL)
INSERT [dbo].[Person] ([Id], [Title], [FKOfficeID], [FirstName], [LastName], [MobilePhone], [Email], [photo]) VALUES (4, N'Associate', 2, N'Wenli', N'Wang', N'4134', N'xxxx@xxx.com', NULL)
INSERT [dbo].[Person] ([Id], [Title], [FKOfficeID], [FirstName], [LastName], [MobilePhone], [Email], [photo]) VALUES (5, N'Buyer', 3, N'xxx', N'yyyy', N'431531', N'xxxx@yyy.com', NULL)
SET IDENTITY_INSERT [dbo].[Person] OFF
/****** Object:  Table [dbo].[Product]    Script Date: 01/12/2015 04:39:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[productNumber] [nvarchar](max) NULL,
	[standardCost] [decimal](18, 2) NOT NULL,
	[listPrice] [decimal](18, 2) NOT NULL,
	[Size] [nvarchar](max) NULL,
	[Weight] [nvarchar](max) NULL,
	[Color] [nvarchar](max) NULL,
	[startSaleDate] [datetime] NULL,
	[endSaleDate] [datetime] NULL,
	[categoryId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Product] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_categoryId] ON [dbo].[Product] 
(
	[categoryId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderToSupplier]    Script Date: 01/12/2015 04:39:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderToSupplier](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[purchaseOrderNumber] [nvarchar](max) NOT NULL,
	[salesOrderNumber] [nvarchar](max) NULL,
	[orderDate] [datetime] NULL,
	[dueDate] [datetime] NULL,
	[modifiedDate] [datetime] NULL,
	[subTotal] [int] NOT NULL,
	[orderPDFPath] [nvarchar](max) NULL,
	[Product_Id] [int] NULL,
 CONSTRAINT [PK_dbo.OrderToSupplier] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_Product_Id] ON [dbo].[OrderToSupplier] 
(
	[Product_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderFromCustomer]    Script Date: 01/12/2015 04:39:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderFromCustomer](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[purchaseOrderNumber] [nvarchar](max) NOT NULL,
	[salesOrderNumber] [nvarchar](max) NULL,
	[orderDate] [datetime] NULL,
	[dueDate] [datetime] NULL,
	[modifiedDate] [datetime] NULL,
	[onLineOrder] [bit] NOT NULL,
	[subTotal] [int] NOT NULL,
	[Product_Id] [int] NULL,
 CONSTRAINT [PK_dbo.OrderFromCustomer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_Product_Id] ON [dbo].[OrderFromCustomer] 
(
	[Product_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Photo]    Script Date: 01/12/2015 04:39:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Photo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[photoPath] [nvarchar](max) NULL,
	[Product_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Photo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_Product_Id] ON [dbo].[Photo] 
(
	[Product_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CompanyProduct]    Script Date: 01/12/2015 04:39:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompanyProduct](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Product_Id] [int] NULL,
 CONSTRAINT [PK_dbo.CompanyProduct] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_Product_Id] ON [dbo].[CompanyProduct] 
(
	[Product_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shipping]    Script Date: 01/12/2015 04:39:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shipping](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[start] [datetime] NULL,
	[expectTime] [datetime] NULL,
	[arrivalTime] [datetime] NULL,
	[shippingStatus] [int] NOT NULL,
	[OrderToSupplier_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Shipping] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_OrderToSupplier_Id] ON [dbo].[Shipping] 
(
	[OrderToSupplier_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 01/12/2015 04:39:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[paymentStatus] [int] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[Date] [datetime] NULL,
	[OrderToSupplier_Id] [int] NULL,
	[OrderFromCustomer_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Payment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_OrderFromCustomer_Id] ON [dbo].[Payment] 
(
	[OrderFromCustomer_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_OrderToSupplier_Id] ON [dbo].[Payment] 
(
	[OrderToSupplier_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LineItem]    Script Date: 01/12/2015 04:39:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LineItem](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[orderQty] [int] NOT NULL,
	[unitPrice] [decimal](18, 2) NOT NULL,
	[unitPriceDiscount] [decimal](18, 2) NOT NULL,
	[lineTotal] [decimal](18, 2) NOT NULL,
	[moneyType] [int] NOT NULL,
	[orderStatus] [int] NOT NULL,
	[issueDate] [datetime] NULL,
	[expectedDatebyCustomer] [datetime] NULL,
	[expectedDate] [datetime] NULL,
	[manufacturingDate] [datetime] NULL,
	[exMillDate] [datetime] NULL,
	[shippingDate] [datetime] NULL,
	[arriveDate] [datetime] NULL,
	[inWareHouseDate] [datetime] NULL,
	[customerOrderId] [int] NOT NULL,
	[supplierOrderId] [int] NOT NULL,
	[shippingId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.LineItem] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_customerOrderId] ON [dbo].[LineItem] 
(
	[customerOrderId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_shippingId] ON [dbo].[LineItem] 
(
	[shippingId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_supplierOrderId] ON [dbo].[LineItem] 
(
	[supplierOrderId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_dbo.Contact_dbo.Office_FKOfficeID]    Script Date: 01/12/2015 04:39:46 ******/
ALTER TABLE [dbo].[Person]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Contact_dbo.Office_FKOfficeID] FOREIGN KEY([FKOfficeID])
REFERENCES [dbo].[Office] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Person] CHECK CONSTRAINT [FK_dbo.Contact_dbo.Office_FKOfficeID]
GO
/****** Object:  ForeignKey [FK_dbo.Product_dbo.Category_categoryId]    Script Date: 01/12/2015 04:39:46 ******/
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Product_dbo.Category_categoryId] FOREIGN KEY([categoryId])
REFERENCES [dbo].[Category] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_dbo.Product_dbo.Category_categoryId]
GO
/****** Object:  ForeignKey [FK_dbo.OrderToSupplier_dbo.Product_Product_Id]    Script Date: 01/12/2015 04:39:46 ******/
ALTER TABLE [dbo].[OrderToSupplier]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderToSupplier_dbo.Product_Product_Id] FOREIGN KEY([Product_Id])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[OrderToSupplier] CHECK CONSTRAINT [FK_dbo.OrderToSupplier_dbo.Product_Product_Id]
GO
/****** Object:  ForeignKey [FK_dbo.OrderFromCustomer_dbo.Product_Product_Id]    Script Date: 01/12/2015 04:39:46 ******/
ALTER TABLE [dbo].[OrderFromCustomer]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderFromCustomer_dbo.Product_Product_Id] FOREIGN KEY([Product_Id])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[OrderFromCustomer] CHECK CONSTRAINT [FK_dbo.OrderFromCustomer_dbo.Product_Product_Id]
GO
/****** Object:  ForeignKey [FK_dbo.Photo_dbo.Product_Product_Id]    Script Date: 01/12/2015 04:39:46 ******/
ALTER TABLE [dbo].[Photo]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Photo_dbo.Product_Product_Id] FOREIGN KEY([Product_Id])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[Photo] CHECK CONSTRAINT [FK_dbo.Photo_dbo.Product_Product_Id]
GO
/****** Object:  ForeignKey [FK_dbo.CompanyProduct_dbo.Product_Product_Id]    Script Date: 01/12/2015 04:39:46 ******/
ALTER TABLE [dbo].[CompanyProduct]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CompanyProduct_dbo.Product_Product_Id] FOREIGN KEY([Product_Id])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[CompanyProduct] CHECK CONSTRAINT [FK_dbo.CompanyProduct_dbo.Product_Product_Id]
GO
/****** Object:  ForeignKey [FK_dbo.Shipping_dbo.OrderToSupplier_OrderToSupplier_Id]    Script Date: 01/12/2015 04:39:46 ******/
ALTER TABLE [dbo].[Shipping]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Shipping_dbo.OrderToSupplier_OrderToSupplier_Id] FOREIGN KEY([OrderToSupplier_Id])
REFERENCES [dbo].[OrderToSupplier] ([Id])
GO
ALTER TABLE [dbo].[Shipping] CHECK CONSTRAINT [FK_dbo.Shipping_dbo.OrderToSupplier_OrderToSupplier_Id]
GO
/****** Object:  ForeignKey [FK_dbo.Payment_dbo.OrderFromCustomer_OrderFromCustomer_Id]    Script Date: 01/12/2015 04:39:46 ******/
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Payment_dbo.OrderFromCustomer_OrderFromCustomer_Id] FOREIGN KEY([OrderFromCustomer_Id])
REFERENCES [dbo].[OrderFromCustomer] ([Id])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_dbo.Payment_dbo.OrderFromCustomer_OrderFromCustomer_Id]
GO
/****** Object:  ForeignKey [FK_dbo.Payment_dbo.OrderToSupplier_OrderToSupplier_Id]    Script Date: 01/12/2015 04:39:46 ******/
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Payment_dbo.OrderToSupplier_OrderToSupplier_Id] FOREIGN KEY([OrderToSupplier_Id])
REFERENCES [dbo].[OrderToSupplier] ([Id])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_dbo.Payment_dbo.OrderToSupplier_OrderToSupplier_Id]
GO
/****** Object:  ForeignKey [FK_dbo.LineItem_dbo.OrderFromCustomer_customerOrderId]    Script Date: 01/12/2015 04:39:46 ******/
ALTER TABLE [dbo].[LineItem]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LineItem_dbo.OrderFromCustomer_customerOrderId] FOREIGN KEY([customerOrderId])
REFERENCES [dbo].[OrderFromCustomer] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LineItem] CHECK CONSTRAINT [FK_dbo.LineItem_dbo.OrderFromCustomer_customerOrderId]
GO
/****** Object:  ForeignKey [FK_dbo.LineItem_dbo.OrderToSupplier_supplierOrderId]    Script Date: 01/12/2015 04:39:46 ******/
ALTER TABLE [dbo].[LineItem]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LineItem_dbo.OrderToSupplier_supplierOrderId] FOREIGN KEY([supplierOrderId])
REFERENCES [dbo].[OrderToSupplier] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LineItem] CHECK CONSTRAINT [FK_dbo.LineItem_dbo.OrderToSupplier_supplierOrderId]
GO
/****** Object:  ForeignKey [FK_dbo.LineItem_dbo.Shipping_shippingId]    Script Date: 01/12/2015 04:39:46 ******/
ALTER TABLE [dbo].[LineItem]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LineItem_dbo.Shipping_shippingId] FOREIGN KEY([shippingId])
REFERENCES [dbo].[Shipping] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LineItem] CHECK CONSTRAINT [FK_dbo.LineItem_dbo.Shipping_shippingId]
GO
