<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="MSMQNonSecurityService.MSMQService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8081/MSMQNonSecurityService/MSMQService"/>
          </baseAddresses>
        </host>
        <endpoint address="net.msmq://lcuser-PC/private/testqueue" binding="netMsmqBinding" bindingConfiguration="MyBinding"
            contract="MSMQNonSecurityService.IMSMQService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True" />
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netMsmqBinding>
        <binding name="MyBinding"  >
          <security mode="None"/>
        </binding>
      </netMsmqBinding>
    </bindings>
  </system.serviceModel>
</configuration>
